* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.dock {
  display: flex;
}

.dock img {
  margin: 0 15px;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
}
